<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERP Plaiaundi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/font-awesome.css" type="text/css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="~/Content/img/logo.png" class="navbar-brand" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Promociones", "Index", "Promociones")</li>
                    <li>@Html.ActionLink("Citas", "Index", "Citas")</li>
                    <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="row row-offcanvas row-offcanvas-left">
            @*<div class="col-md-2">

                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>*@
            @Html.Action("menuLeft", "Home")
            <div class="column col-sm-10 col-xs-10" id="main">
                @RenderBody()
            </div>
        </div>
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - ERP Plaiaundi &copy;</p>
    </footer>

</body>
</html>
